NODE_ENV=production
APP_PORT=8080
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=na_porta_orders
DB_CONNECTION_LIMIT=10
DB_SYNCHRONIZE=false
DB_SSL=false
DB_SEED_DEMO=true
ADMIN_EMAIL=admin@na-porta.local
ADMIN_PASSWORD=Admin@123456
JWT_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_EXPIRES=45m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=http://localhost:3000